@font-face {
  font-family: "iconfont-wuye"; /* Project id 4937901 */
  src: url('iconfont.woff2?t=1748855839169') format('woff2'),
       url('iconfont.woff?t=1748855839169') format('woff'),
       url('iconfont.ttf?t=1748855839169') format('truetype'),
       url('iconfont.svg?t=1748855839169#iconfont-wuye') format('svg');
}

.iconfont-wuye {
  font-family: "iconfont-wuye" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-judge:before {
  content: "\e635";
}

.icon-omit:before {
  content: "\e636";
}

.icon-meeting:before {
  content: "\e637";
}

.icon-hr:before {
  content: "\e639";
}

.icon-struct:before {
  content: "\e63a";
}

.icon-lamp:before {
  content: "\e63b";
}

.icon-pet:before {
  content: "\e63c";
}

.icon-sign:before {
  content: "\e63d";
}

.icon-topic:before {
  content: "\e63e";
}

.icon-question:before {
  content: "\e63f";
}

.icon-order:before {
  content: "\e640";
}

.icon-setting:before {
  content: "\e641";
}

.icon-update:before {
  content: "\e642";
}

.icon-energy:before {
  content: "\e62a";
}

.icon-my-mission:before {
  content: "\e62b";
}

.icon-elevator:before {
  content: "\e62c";
}

.icon-report:before {
  content: "\e62d";
}

.icon-home:before {
  content: "\e62e";
}

.icon-notice:before {
  content: "\e62f";
}

.icon-pledge:before {
  content: "\e630";
}

.icon-leave:before {
  content: "\e631";
}

.icon-all-mission:before {
  content: "\e632";
}

.icon-monitor:before {
  content: "\e633";
}

.icon-finance:before {
  content: "\e634";
}

.icon-iot:before {
  content: "\e621";
}

.icon-bussinese:before {
  content: "\e622";
}

.icon-park:before {
  content: "\e623";
}

.icon-more:before {
  content: "\e624";
}

.icon-menu-fold:before {
  content: "\e625";
}

.icon-inform:before {
  content: "\e626";
}

.icon-notication:before {
  content: "\e627";
}

.icon-service:before {
  content: "\e628";
}

.icon-contract:before {
  content: "\e629";
}

.icon-entrance:before {
  content: "\e61f";
}

.icon-dashboard:before {
  content: "\e620";
}

.icon-xgfy:before {
  content: "\e61a";
}

.icon-statistic:before {
  content: "\e61b";
}

.icon-maintain:before {
  content: "\e61c";
}

.icon-payment:before {
  content: "\e61d";
}

.icon-vistor:before {
  content: "\e61e";
}

.icon-charging:before {
  content: "\e609";
}

.icon-full-screen:before {
  content: "\e60a";
}

.icon-exit-full-screen:before {
  content: "\e604";
}

.icon-warning:before {
  content: "\e60b";
}

.icon-screen:before {
  content: "\e603";
}

.icon-community:before {
  content: "\e60c";
}

.icon-meeting-create:before {
  content: "\e60d";
}

.icon-wechat:before {
  content: "\e60e";
}

.icon-menu-unfold:before {
  content: "\e60f";
}

.icon-meeting-participant:before {
  content: "\e610";
}

.icon-fitment:before {
  content: "\e611";
}

.icon-promise:before {
  content: "\e612";
}

.icon-oa:before {
  content: "\e613";
}

.icon-warehouse:before {
  content: "\e614";
}

.icon-movecar:before {
  content: "\e615";
}

.icon-mission:before {
  content: "\e616";
}

.icon-refound:before {
  content: "\e617";
}

.icon-refresh:before {
  content: "\e618";
}

.icon-ower:before {
  content: "\e619";
}

.icon-dispose-mission:before {
  content: "\e607";
}

.icon-address:before {
  content: "\e608";
}

.icon-flow:before {
  content: "\e605";
}

.icon-approver:before {
  content: "\e606";
}

